<!DOCTYPE html>
<html lang="en">
<head>

  <title>Loan prediction UI -Mohit Maithani</title>
   <link rel = "icon" href = "{{url_for('static', filename='favicon.png')}}" 
        type = "image/x-icon"> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
$(document).ready(function(){
  $("button").click(function(){
    $("p").toggle();
  });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
  .responsive {
  max-width: 30%;
  height: auto;
  }
</style>
</head>

<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <a href="./"> <img src="{{url_for('static', filename='sign (softer).png')}}" align="middle"alt="sign" class="responsive" /></a>   
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="./">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/mmaithani">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://linkedin.com/in/mohitmaithani">Linkedin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/xaret_">Twitter</a>
      </li>  
       <li class="nav-item">
          <a class="nav-link" href="https://mmaithani.github.io/#contact">Contact</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="https://mmaithani.github.io">About Me</a>
        </li>
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">

    <div class="col-sm-8">
      <h2>Loan approval Prediction Form </h2>
      <p>it's a very important process for banking organizations. The system approved or reject the loan applications.</p>
    
    <div class="form1">
    <br>
    <form class="frm" action="{{ url_for('prediction')}}" method="post" id="loan_predict">
        <label for="Gender">Gender</label>
        <select id="Gender" name="Gender">
            <option value ="1">Male</option>
            <option value ="0">Female</option>
            </select>
        <br><br>
        <label for="Married">Married </label>
        <select id="Married"name="Married">
            <option value ="1">Yes</option>
            <option value ="0">No</option>
            </select>         
        <br> <br>
        <label for="depen">Dependents</label>
        <select id="depen" name="depen">
            <option value ="0">0</option>
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3+</option>
            </select>
        <br><br>
        <label for="Education">Education </label>
        <select id="Education" name="Education">
            <option value ="0">Graduate</option>
            <option value ="1">Not Graduate</option>
            </select>
        <br><br>
        <label for="empl">Self Employed </label>
        <select id="empl" name="empl">
            <option value ="1">Yes</option>
            <option value ="0">No</option>
            </select>
        <br><br>
        <label for="credit">Credit History</label>
        <select id="credit" name="credit">
            <option value ="1">Yes</option>
            <option value ="0">No</option>
            </select>
            <br><br>
        <label for="Property">Property Area</label>
        <select id="Property" name="Property">
            <option value ="1">Rural</option>
            <option value ="2">Semi- Urban</option>
            <option value ="0">Urban</option>
            </select>
        <br><br>
        <label for="Income">Income</label>
        <select id="Income" name="Income">
            <option value ="1">low</option>
            <option value ="2">Medium</option>
            <option value ="0">High</option>
            </select>
        <br><br>

    <!-- <button>Predict</button>
    <p>{{ prediction }}</p> -->
    <a href="./"> <img src="{{url_for('static', filename='pikachu.gif')}}" class="responsive"align="middle"></a>
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict </button>
    <h1> {{ prediction }}</h1>     
</form>
      <br>
    
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Copyright © <a href="https://mmaithani.github.io">Mohit Maithani</a></p>
</div>

</body>
</html>


